@import "_variables";
@import "_mixins";
@import "_reset";

body {
    font: 400 16px/22px Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*
 * Grid
 */

.container {
    width: 960px;
    margin: 0 auto;
    padding: 20px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home,
#skills,
#experience,
#contact {
    padding-top: 70px;
    min-height: 750px;
    position: relative;
    color: #ecf0f1;
}

#contact {
    overflow: hidden;
}

#home {
    background-color: #1976d2;
}

#skills, #experience, #contact {
  background-color: #f1f1f1;
}


/*
 * Header
 */

header {
    background-color: #2c3e50;
    position: fixed;
    width: 100%;
    z-index: 9999;
}


/*
 * Typography
 */

h1 {
    margin-top: 22px;
    margin-bottom: 12px;
    font-size: 36px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
    text-transform: uppercase;
}

ul {
    margin-bottom: 10px;
}

li {
    font-weight: 600;
}

.navigation {
    width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
    text-align: center;
    
    a {
      color: #fff;
      text-decoration: none;
      padding: 20px;
      font-weight: 700;
    }
}

.tagline {
    text-align: right;
    margin: 22px 0;
    font-style: italic;
    font-weight: 600;
}


/*
 * Home
 */

.hero {
    font-size: 40px;
    padding-bottom: 20px;
}

#home .container {
	text-align: center;
}

#home .tagline {
    border-top: 4px solid #fff;
    padding-top: 20px;
}

.animation_elements * {
    @include prefixProp((animation: none 0 !important), webkit moz o);
}


/*
 * Skills
 */

.target {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
}

.circle {
    border: 2px solid #3b3b3b;
    border-radius: 50%;
}

.outer {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

@include innerCircle(1, 10%, 80%);
@include innerCircle(2, 20%, 60%);
@include innerCircle(3, 30%, 40%);
@include innerCircle(4, 40%, 20%);

.level_text {
    text-transform: uppercase;
    text-align: center;
    color: #3b3b3b;
    padding-top: 20px;
}

@include keyframes(slideleft) {
    from {
        margin-left: 100%;
    }
    to {
        visibility: visible;
    }
}

@include keyframes(slideright) {
    from {
        margin-left: -100%;
    }
    to {
        visibility: visible;
    }
}

.arrow {
    color: #FFFFFF;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    position: relative;
    width: 110px;
    text-align: center;
    @include prefixProp((box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4)), webkit moz o);
    visibility: hidden;

    &:before,
    &:after {
        content: "";
        height: 0;
        position: absolute;
        width: 0;
    }
    
    @include arrow(right, left, slideleft);
    @include arrow(left, right, slideright);
}

.skill_html {
    @include skillArrow(right, #FF5722, 5%, 80%, 0.5s);
}

.skill_css {
    @include skillArrow(right, #2196F3, 20%, 93%, 1s);
}

.skill_js {
    color: #000000;
    @include skillArrow(left, #FFC107, -15%, -12%, 1.5s);
}

.skill_jq {
    @include skillArrow(left, #0769ad, -5%, -27%, 2s);
}

.skill_rivet {
    @include skillArrow(left, #3F51B5, 7%, -30%, 3.5s);
}

.skill_underscore {
    @include skillArrow(left, #009688, 18%, -20%, 2.5s);
}

.skill_backbone {
    @include skillArrow(left, #795548, 0, 1%, 4s);
}

.skill_photoshop {
    @include skillArrow(right, #673AB7, -7%, 70%, 4.5s);
}

.skill_scss {
    @include skillArrow(right, #F06292, 40%, 92%, 1.5s);
}

.skill_angular {
    @include skillArrow(left, #dd0031, 0, 9%, 5s);
}

/*
 * Experience
 */


.experience {
	width: 32%;
	float: left;
	padding-right: 15px;
	color: #3b3b3b;
    

    &:last-child {
        padding-right: 0;
    }

    .organisation {
        text-transform: uppercase;
        color: #1976d2;
        margin-bottom: 3px;
        width: 95%;
    }

    .duration {
        font-style: italic;
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid #dbdbdb;
    }

    .profile {
        .role {
            text-transform: uppercase;
            font-weight: 700;
            margin-top: 10px;
        }

        .description {
            font-style: italic;
            padding-left: 7px;

            &::before {
                content: "- ";
            }
        }
    }
}

/*
 * Contact
 */

.cards {
    text-align: center;
}

.card a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;

    .fa {
        display: block;
        margin-top: 70px;
        font-size: 50px;
    }

    .fa-linkedin-square {
        color: #0077b5;
    }

    .fa-envelope {
        color: #ea4335;
    }

    .fa-github {
        color: #333;
    }

    .fa-facebook-official {
        color: #3b5998;
    }
}

.card {
    background: white;
    width: 120px;
    height: 200px;
    margin: 1px;
    display: inline-block;
    visibility: hidden;
    @include prefixProp((
        border-radius: 5px,
        box-shadow: (0 6px 6px rgba(10,16,20,.15), 0 0 52px rgba(10,16,20,.12)),
        animation-duration: 1s,
        animation-name: slideup,
        animation-fill-mode: forwards), webkit moz o);

    &:hover {
        top: -20px;
    }
}

@include keyframes(slideup) {
    from {
        top: 900px;
    }
    to {
        visibility: visible;
    }
}

.card_1 {
    position: relative;
    top: 10px;
    left: 15px;
    z-index: 9;
    @include prefixProp((
        transform: rotate(-10deg),
        animation-delay: 0.5s), webkit moz ms o);
}

.card_2 {
    position: relative;
    z-index: 99;
    top: 0px;
    @include prefixProp((animation-delay: 1s), webkit moz o);
}

.card_3 {
    position: relative;
    top: 10px;
    left: -15px;
    z-index: 999;
    @include prefixProp((
        transform: rotate(10deg),
        animation-delay: 1.5s), webkit moz ms o);
}