@import "_variables";
@import "_mixins";
@import "_reset";

body {
    font: 400 16px/22px Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*
 * Grid
 */

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home,
#skills,
#experience,
#contact {
    padding-top: 70px;
    min-height: 680px;
    position: relative;
    color: #ecf0f1;
}

#contact {
    overflow: hidden;
}

#home {
    background-color: $color-primary;
}

#skills, #experience, #contact {
  background-color: $color-section-bg;
}

@media(min-width: 992px) {
    .container {
        width: 960px;
    }
}


/*
 * Header
 */

header {
    background-color: $color-nav-bg;
    position: fixed;
    width: 100%;
    z-index: 9999;
}


/*
 * Typography
 */

h1 {
    margin-top: 22px;
    margin-bottom: 12px;
    font-size: 36px;
}

h2 {
    font-size: 18px;
    
    @media(min-width: 480px) {
        font-size: 22px;
    }
}

h3 {
    font-size: 20px;
    text-transform: uppercase;
}

ul {
    margin-bottom: 10px;
}

li {
    font-weight: 600;
}

.navigation {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    
    a {
        color: $color-nav-link;
        text-decoration: none;
        padding: 22px 12px;
        font-weight: 700;
        
        &.active {
            background-color: $color-primary;
        }
    
        @media(min-width: 480px) {
            padding: 22px 20px;
        }
    }
}

.tagline {
    text-align: right;
    margin: 22px 0;
    font-style: italic;
    font-weight: 600;
}

.pg-title {
    color: $color-pg-title;
    margin-bottom: 40px;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    line-height: 1;
    
    @media(min-width: 480px) {
        font-size: 50px;
    }
    
    @media(min-width: 992px) {
        font-size: 60px;
        text-align: left;
        margin-bottom: 100px;
    }
}


/*
 * Home
 */

.hero {
    font-size: 30px;
    padding-bottom: 20px;
    line-height: 1;
    
    @media(min-width: 480px) {
        font-size: 35px;
    }
    
    @media(min-width: 768px) {
        font-size: 40px;
    }
}

#home .container {
	text-align: center;
}

#home .tagline {
    border-top: 4px solid #fff;
    padding-top: 20px;
}

.animation_elements * {
    @include prefixProp((animation: none 0 !important), webkit moz o);
}


/*
 * Skills
 */

.target {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    overflow: hidden;
}

.circle {
    border: 2px solid $color-target;
    border-radius: 50%;
}

.outer {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

@include innerCircle(1, 10%, 80%);
@include innerCircle(2, 20%, 60%);
@include innerCircle(3, 30%, 40%);
@include innerCircle(4, 40%, 20%);

.level_text {
    text-transform: uppercase;
    text-align: center;
    color: $color-target;
    padding-top: 20px;
}

@include keyframes(slideleft) {
    from {
        margin-left: 100%;
    }
    to {
        visibility: visible;
    }
}

@include keyframes(slideright) {
    from {
        margin-left: -100%;
    }
    to {
        visibility: visible;
    }
}

.arrow {
    color: $color-skill-text;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    position: relative;
    width: 110px;
    text-align: center;
    @include prefixProp((box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4)), webkit moz o);
    visibility: hidden;

    &:before,
    &:after {
        content: "";
        height: 0;
        position: absolute;
        width: 0;
    }
    
    @include arrow(right, left, slideleft);
    @include arrow(left, right, slideright);
}

.skill_html {
    @include skillArrow(right, $color-skillbg-html, 5%, 80%, 0.5s);
}

.skill_css {
    @include skillArrow(right, $color-skillbg-css, 20%, 93%, 1s);
}

.skill_js {
    color: $color-skill-js;
    @include skillArrow(left, $color-skillbg-js, -15%, -12%, 1.5s);
}

.skill_jq {
    @include skillArrow(left, $color-skillbg-jq, -5%, -27%, 2s);
}

.skill_rivet {
    @include skillArrow(left, $color-skillbg-rivet, 7%, -30%, 3.5s);
}

.skill_underscore {
    @include skillArrow(left, $color-skillbg-underscore, 18%, -20%, 2.5s);
}

.skill_backbone {
    @include skillArrow(left, $color-skillbg-backbone, 0, 1%, 4s);
}

.skill_photoshop {
    @include skillArrow(right, $color-skillbg-photoshop, -7%, 70%, 4.5s);
}

.skill_scss {
    @include skillArrow(right, $color-skillbg-scss, 40%, 92%, 1.5s);
}

.skill_angular {
    @include skillArrow(left, $color-skillbg-angular, 0, 9%, 5s);
}

.skill_bootstrap {
    @include skillArrow(right, $color-skillbg-photoshop, 50%, 81%, 5.5s);
}

/*
 * Experience
 */


.experience {
	color: $color-exp-txt;
    margin-left: 30px;
    margin-right: 15px;

    &:last-child {
        padding-right: 0;
    }
    
    & + & {
        margin-top: 40px;
    }

    .organisation {
        text-transform: uppercase;
        color: $color-exp-org;
        margin-bottom: 3px;
        width: 95%;
    }

    .duration {
        font-style: italic;
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid $color-exp-dur;
    }

    .profile {
        .role {
            text-transform: uppercase;
            font-weight: 700;
            margin-top: 10px;
        }

        .description {
            font-style: italic;
            padding-left: 7px;

            &::before {
                content: "- ";
            }
        }
    }
    
    @media(min-width: 992px) {
        width: 32%;
        float: left;
        padding-right: 15px;
        margin: 0;
    
        & + & {
            margin-top: 0;
        }
    }
}

/*
 * Contact
 */

.contact-email, .link-text {
    color: $color-secondary;
    text-align: center;
    margin-top: 35px;
    font-size: 20px;
    
    @media(min-width: 480px) {
        font-size: 20px;
    }
}

.link-text {
	color: $color-primary;
	text-decoration: underline;
	margin-left: 5px;
    
    @media(min-width: 768px) {
        display: none;
    }
}

.contact-email .fa-envelope {
    color: $color-mail;
    font-size: 30px;
    margin-right: 10px;
}

.cards {
    text-align: center;
    
    a {
        margin-top: 35px;
    }
}

.cards a .fa, .cards a .link-text, .contact-email .fa-envelope, .contact-email span {
	vertical-align: middle;
}

.card {
    text-decoration: none;
    display: block;

    .fa {
        font-size: 50px;
    }

    .fa-linkedin-square {
        color: $color-linkedin;
    }

    .fa-github {
        color: $color-github;
    }

    .fa-facebook-official {
        color: $color-facebook;
    }
}

@media(min-width: 768px) {
    .card {
        display: inline-block;
        background: $color-card-bg;
        width: 120px;
        height: 200px;
        margin: 1px;
        display: inline-block;
        visibility: hidden;
        @include prefixProp((
            border-radius: 5px,
            box-shadow: (0 6px 6px rgba(10,16,20,.15), 0 0 52px rgba(10,16,20,.12)),
            animation-duration: 1s,
            animation-name: slideup,
            animation-fill-mode: forwards), webkit moz o);

        &:hover {
            top: -20px;
        }
        
        .fa {
            display: block;
            margin-top: 70px;
        }
    }

    @include keyframes(slideup) {
        from {
            top: 900px;
        }
        to {
            visibility: visible;
        }
    }

    .card_1 {
        position: relative;
        top: 10px;
        left: 15px;
        z-index: 9;
        @include prefixProp((
            transform: rotate(-10deg),
            animation-delay: 0.5s), webkit moz ms o);
    }

    .card_2 {
        position: relative;
        z-index: 99;
        top: 0px;
        @include prefixProp((animation-delay: 1s), webkit moz o);
    }

    .card_3 {
        position: relative;
        top: 10px;
        left: -15px;
        z-index: 999;
        @include prefixProp((
            transform: rotate(10deg),
            animation-delay: 1.5s), webkit moz ms o);
    }
}