/*
* Skills
*/

.target {
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 700;
    overflow: hidden;

    @media(max-width: 767px) {
        hr {
            margin: 0;
            margin-bottom: -2px;
        }
    }

    @media(min-width: 768px) {
        margin-left: auto;
        margin-right: auto;

        hr {
            display: none;
        }
    }
}

.level_text {
    text-transform: uppercase;
    text-align: center;

    @media(max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $color-secondary;
        color: $color-level-text;
        margin: 0 auto;
        margin-bottom: 10px;
        width: 40%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    @media(min-width: 768px) {
        padding-top: 20px;
        color: $color-level-text-lg;
    }
}

.circle {
    @media(max-width: 767px) {
        min-height: 100px;
        margin-bottom: 10px;
    }
    @media(min-width: 768px) {
        border: 2px solid $color-target;
        border-radius: 50%;
    }
}

.arrow {
    color: $color-skill-text;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    text-align: center;
    text-shadow: 0px 0px 5px $color-skill-text-shadow;

    @media(max-width: 767px) {
        margin: 5px;
        border-radius: 2px;
    }
}

@media(min-width: 768px) {
    .outer {
        position: relative;
        width: $circle-dia-beginner;
        height: $circle-dia-beginner;
        margin: 0 auto;
    }

    @include innerCircle(1, 10%, 80%);
    @include innerCircle(2, 20%, 60%);
    @include innerCircle(3, 30%, 40%);
    @include innerCircle(4, 40%, 20%);

    @include keyframes(slideleft) {
        from {
            margin-left: 100%;
        }
        to {
            visibility: visible;
        }
    }

    @include keyframes(slideright) {
        from {
            margin-left: -100%;
        }
        to {
            visibility: visible;
        }
    }

    .arrow {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        width: 110px;
        @include prefixProp((box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4)), webkit moz o);
        visibility: hidden;

        &:before,
        &:after {
            content: "";
            height: 0;
            position: absolute;
            width: 0;
        }

        @include arrow(right, left, slideleft);
        @include arrow(left, right, slideright);
    }
}

@each $side, $list in $skills {
    @each $key, $values in $list {
        .skill_#{$key} {
            $index: index($list, ($key $values)) - 1;
            $distance: (map-get($circle-radius, nth($values, 1)) - 30);
            $num-of-skills: length(map-get($skills, $side));
            $angle: $startAngle - ((140/$num-of-skills) * $index);
            $animationDelay: $index * 0.5s;

            @if ($side == "left") {
                $distance: -$distance;
                background: if(length($values) == 3, linear-gradient(135deg, nth($values, 2) 50%, nth($values, 3) 50%), nth($values, 2));
            } @else if ($side == "right") {
                $angle: -$angle;
                $animationDelay: ($index + length(map-get($skills, "left"))) * 0.5s;
                background: if(length($values)==3, linear-gradient(135deg, nth($values, 3) 50%, nth($values, 2) 50%), nth($values, 2));
            }

            @media(min-width: 768px) {
                transform: rotate(#{$angle}deg) translate($distance) rotate(#{-$angle}deg);
                @include prefixProp((animation-delay: $animationDelay), webkit moz o);
                &.#{$side} {
                    &:after {
                        border-bottom-color: nth($values, 2);
                        border-top-color: nth($values, 2);
                    }

                    &:before {
                        border-#{$side}-color: if(length($values)==3, nth($values, 3), nth($values, 2));
                    }
                }
            }
        }
    }
}