/*
* Home
*/

.hero {
  font-size: 30px;
  padding-bottom: 20px;
  line-height: 1;

  @media(min-width: $xsMinWidth) {
    font-size: 35px;
  }

  @media(min-width: $smMinWidth) {
    font-size: 40px;
  }
}

#home .container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media(max-width: $xsMaxWidth) {
    h1,
    h2 {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.animation_elements * {
  @include prefixProp((animation: none 0 !important), webkit moz o);
}