/*
* Home
*/

.hero {
  font-size: 30px;
  padding-bottom: 20px;
  line-height: 1;

  @media(min-width: $xsMinWidth) {
    font-size: 35px;
  }

  @media(min-width: $smMinWidth) {
    font-size: 40px;
  }
}