//
// Experience
//

$color-exp-role: $colorSecondary;
$color-exp-text: #000;
$color-organisation: (
  cts: #1a237e,
  tcs: #1565c0,
  rmk: #1b5e20
);

.experience {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $color-exp-text;

  .duration {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 15px;
    border-right: 10px solid black;
    text-transform: uppercase;

    p {
      font-weight: bold;
      white-space: nowrap;
    }
  }

  .experience-details {
    width: 80%;
    text-align: left;
    padding: 0 15px;

    .organisation {
      font-weight: bold;
    }

    .location {
      font-style: italic;
    }

    .profile {
      .role {
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 10px;
        color: $color-exp-role;
      }
  
      .description {
        font-style: italic;
        padding-left: 7px;
  
        &::before {
          content: "- ";
        }
      }
    }
  }

  + .experience {
    margin-top: 20px;
  }
}

@each $org, $brand-color in $color-organisation {
  .org-#{$org} {
    .duration {
      border-color: $brand-color;
      color: $brand-color;
    }

    .experience-details .organisation {
      color: $brand-color;
    }
  }
}

@media(min-width: $smMinWidth) {
  .experience {
    .duration {
      width: 40%;
    }

    .experience-details {
      width: 60%;
    }
  }
}
