//
// Footer
//

$footerBgHeight: 50px;
$colorFooterBg: #2c3e50;
$colorFooterText: #fff;

footer {
  display: block;
  padding: 15px 0;
  text-align: center;
  background-color: $colorFooterBg;

  p {
    color: $colorFooterText;
  }
}
