//
// Home
//

$homeTitleDividerColor: $colorSecondary;

#home {
  .container {
    text-align: left;
  }

  h1, h2, p {
    padding-left: 20px;
  }

  p {
    font-size: 1.125rem;
    margin-top: 15px;
  }
}

.intro {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.5);

  @media(min-width: $smMinWidth) {
    font-size: 3.125rem;
  }
}

.job-title {
  padding-bottom: 15px;
  border-bottom: 1px dotted #fff;
}
