//
// Navbar
//

header {
  background-color: $colorNavBg;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.navigation {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  overflow: hidden;

  a {
    color: $colorNavLink;
    text-decoration: none;
    padding: 22px 12px;
    font-weight: 700;

    &.active {
      background-color: $colorPrimary;
    }

    @media(min-width: $xsMinWidth) {
      padding: 22px 20px;
    }
  }
}