//
// Works
//

$color-works-text: #3b3b3b;
$color-works-bg: #fff;
$color-works-shadow: 3px 3px 6px #e3e3e3;
$color-works-title: #fff;
$color-works-title-bg: #009688;
$color-works-border: 3px solid $color-works-title-bg;
$color-works-links: #1976d2;
$color-works-links-bg: #eee;
$color-works-links-hover: #fff;
$color-works-links-hover-bg: #607D8B;

$color-works-lang: (
  html: #e34c26,
  css: #563d7c,
  javascript: #f1e05a,
  typescript: #2b7489,
  ruby: #701516
);

$works-title-height: 52px;
$works-links-height: 42px;
$works-num-of-links: 2;


.works {
  color: $color-works-text;
  background-color: $color-works-bg;
  box-shadow: $color-works-shadow;
  border-top: $color-works-border;

  & + & {
    margin-top: 10px;
  }

  .title {
    display: inline-block;
    position: relative;
    background-color: $color-works-title-bg;
    color: $color-works-title;
    padding: 15px 20px;
    margin-top: -1px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      border-width: $works-title-height/2;
      border-style: solid;
      border-color: $color-works-title-bg transparent transparent $color-works-title-bg;
    }
  }

  @each $lang, $lang-color in $color-works-lang {
    $color-title: if(lightness($lang-color) > 50, #000, #fff);

    &.lang-#{$lang} {
      border-top-color: $lang-color;

      .title {
        background-color: $lang-color;
        color: $color-title;

        &:after {
          border-color: $lang-color transparent transparent $lang-color;
        }
      }
    }
  }

  .description {
    padding: 20px 20px 10px;

    .topic {
      display: inline-block;
      margin: 3px;
      padding: 5px 10px;
      font-size: 14px;
      white-space: nowrap;
      border-radius: 5px;
      background-color: $color-works-links-bg;
    }
  }
}

.works .action-container {
  text-align: right;

  a {
    display: inline-block;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    height: 42px;
    text-decoration: none;
    color: $color-works-links;
    background-color: $color-works-links-bg;

    &:before,
    &:nth-last-child(n+2):after {
      content: "";
      box-sizing: border-box;
      height: 42px;
      position: absolute;
      top: 0;
      border: $works-links-height/2 solid transparent;
    }

    &:before {
      left: -$works-links-height;
      border-right-color: $color-works-links-bg;
      border-bottom-color: $color-works-links-bg;
    }

    &:hover {
      color: $color-works-links-hover;
      background-color: $color-works-links-hover-bg;

      &:before {
        border-right-color: $color-works-links-hover-bg;
        border-bottom-color: $color-works-links-hover-bg;
      }
    }

    @for $index from 1 to $works-num-of-links {
      &:nth-last-child(#{$index + 1}) {
        left: -($works-links-height * $index) + (2 * $index);

        &:after {
          left: 100%;
          border-top-color: $color-works-links-bg;
          border-left-color: $color-works-links-bg;
        }

        &:hover:after {
          border-top-color: $color-works-links-hover-bg;
          border-left-color: $color-works-links-hover-bg;
        }
      }
    }

    &:last-child {
      padding-right: 15px;
    }
  }
}
